.calculatrice {
  background-color: #eeeeee;
  border: 2px solid #cccccc;
  margin: auto;
  padding-left: 5px;
  padding-bottom: 5px;
  width: fit-content;
  height: fit-content;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.btnEqual {
  padding: 10px 20px;
  margin: 5px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.btnC {
  padding: 10px 20px;
  margin: 5px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.resBox {
  border: 1px #b9b3b3;
  background-color: #b9b3b3;
  padding: 15px 20px;
  margin: 5px;
  font-size: 25px;
  height: 20px;
}
